@import 'tailwindcss';

@theme {
	--color-accent: var(--color-purple);
	--color-back: #ededed;
	--color-front: #484848;
	--color-orange: hsl(16, 100%, 50%);
	--color-purple: hsl(330, 95%, 30%);
	--default-font-family: var(--font-serif);
	--font-fjalla: 'Fjalla One', serif;
	--font-geist-mono: 'Geist Mono Variable', monospace;
	--font-inter-tight: 'Inter Tight Variable', sans-serif;
	--font-merriweather: 'Merriweather Variable', serif;
	--font-sans: 'Source Sans Pro';
	--font-sans: var(--font-inter-tight);
	--font-serif: 'Source Serif 4';
}

.trim {
	text-box-edge: cap alphabetic;
	text-box-trim: trim-both;
}
.pile {
	display: grid;
	> * {
		grid-area: 1 / 1;
	}
}
html {
	background: var(--color-back);
	color: var(--color-front);
	font-size: 18px;
}

article {
	--computed-line-height: calc(var(--font-size) * var(--line-height));
	--drop-cap-size: calc(4.2 * var(--computed-line-height));
	--font-size: 16px;
	--line-height: 1.4;
	font-family: var(--font-merriweather);
	font-size: var(--font-size);
	line-height: var(--line-height);
	text-wrap: pretty;
	h1 {
		font-family: var(--font-merriweather);
		font-weight: normal;
		margin: 4rcap 0 2rcap 0;
		text-transform: uppercase;
	}
	h2 {
		font-family: var(--font-fjalla);
		font-size: 1.5rem;
		font-weight: bold;
		margin: 4rex 0 2rex 0;
	}
	.cap:first-letter {
		--repeating-linear-gradient: transparent 0, transparent 3px, var(--color-accent) 4px;
		background-clip: text;
		background:
			repeating-linear-gradient(45deg, var(--repeating-linear-gradient)),
			repeating-linear-gradient(-45deg, var(--repeating-linear-gradient));
		border: 1px solid;
		float: left;
		font-size: var(--drop-cap-size);
		font-weight: 700;
		line-height: 1;
		margin-right: 1rch;
		padding: 1rex 1rch;
		text-shadow: 2px 1px 0 white;
	}
	p {
		grid-column: 1;
		& + p {
			text-indent: 2rem;
		}
	}
	figure {
		color: #242424;
		border: 1px solid #ccc;
		background: #ececec;
		box-shadow: 0 0 4px rgb(0 0 0 / 0.08);
		padding: 0.5rem;
		padding-bottom: 0;
		margin-bottom: 2rem;
		img {
			border-radius: 0.5rex;
			border: 1px solid rgb(0 0 0 / 10%);
		}
		figcaption {
			color: #666;
			font-size: 0.8rem;
			margin-bottom: 2rex;
			padding: 1rex 0;
		}
	}
	a {
		color: var(--color-accent);
		text-decoration: underline;
		text-underline-offset: 3px;
		&:hover {
			text-decoration-thickness: 2px;
		}
		&:focus {
			outline: none;
			background: var(--color-accent);
			color: white;
			margin: -0.25rem;
			padding: 0.25rem;
		}
	}
	code.inline {
		font-family: monospace;
		background: #ddd;
		color: #444;
		border: 1px solid;
		border-radius: 0.5rex;
		padding: 0.2rex 0.2rch;
	}
	.footnotes {
		border-top: 1px solid #ddd;
		padding-top: 2rex;
		list-style: decimal-leading-zero;
	}
	.footnote {
		font-size: 0.7rem;
		line-height: 1.5;
		position: relative;
		.footnote-meta {
			position: absolute;
			top: -0.25rem;
			right: -2rem;
		}
	}
	.footnote:target {
		background: lightgoldenrodyellow;
		border: 1px dashed;
		margin: -1rem;
		margin-bottom: 2rem;
		padding: 1rem;
	}
}
